* { box-sizing: border-box }

html,
body {
  height: 100%;
}

body {
  align-items: center;
  background-color: #fdfdfd;
  color: #343434;
  display: flex;
  font-family: sans-serif;
  justify-content: center;
  margin: 0;
}

#root {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.2em;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
}
